@import "./variables.scss";

/* Columns , layout */

@mixin the-center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@mixin go-column {
    display: flex;
    flex-direction: column;
}

@mixin vertical-center {
    display: flex;
    align-items: center;
}

@mixin the-start {
    display: flex;
    justify-content: flex-start;
}

@mixin the-end {
    display: flex;
    justify-content: flex-end;
}


/* Image object */

@mixin slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin product-img {
    display: flex;
    width: auto;
    object-fit: cover;
    height: 460px;
    object-position: center;
    border-radius: 15px;
    border: 2px solid #E2E2E2;
}


/* Products */

@mixin def-row {
    display: flex;
    flex-wrap: wrap!important;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    margin: 0px!important;
    padding: 0px!important;
}


/* Buttons */

@mixin the-button {
    background: $buttonBG;
    padding: 12px 30px;
    color: #ffff;
    font-family: $fontMain;
    border-radius: 10px;
    font-size: 19px!important;
    display: table;
    margin-top: 20px;
    border: none;
}

@mixin btn-more {
    background: #ffff!important;
    border-radius: 10px!important;
    border: 2px solid #3176C4!important;
    padding: 10px 40px!important;
    font-family: $fontMain!important;
    font-size: 19px!important;
    color: #3176C4!important;
}

@mixin btn-remove {
    background: #ffff!important;
    border-radius: 10px!important;
    border: 2px solid #FC3830!important;
    padding: 10px 40px!important;
    font-family: $fontMain!important;
    font-size: 19px!important;
    color: #FC3830!important;
}

@mixin btn-big {
    width: 100%!important;
    max-width: 100%!important;
    background: $buttonBG!important;
    border: none;
    padding: 15px 30px;
    border-radius: 10px!important;
    font-size: 19px!important;
}

@mixin tag-btn {
    text-transform: uppercase;
    font-family: $fontMain;
    color: $accentColor!important;
    font-size: 15px;
    border: 1px solid $accentColor!important;
    background-image: linear-gradient(to right, #ffffff, #f7ffff, #e9ffff, #e4fff5, #f5ffde);
    border-radius: 4px;
    padding: 5px 15px;
    z-index: 9;
    position: absolute;
    left: 15px;
    font-weight: 500!important;
    top: 15px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    font-weight: 600!important;
}

@mixin like-btn {
    /*   border-radius:50%!important;
    background:#ffff!important;
    padding:8px!important;
    border:none!important;
    width: 50px!important;
    height:50px!important;

    -webkit-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.35);
    box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.35);

*/
    width: 80px;
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 0px;
    background: none!important;
    border: none!important;
}


/* Product */

@mixin simple-prod {
    display: flex;
    flex-direction: column;
    width: 24%!important;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
}

@mixin big-prod {
    display: flex;
    flex-direction: column;
    width: 49%!important;
    position: relative;
}