@import "./fonts.scss";



/* COLORS */

/* Buttons */
$buttonBG:linear-gradient(to right, #5d9add, #5e9fdf, #5fa3e1, #61a8e3, #63ace5, #64b0e7, #65b5e8, #67b9ea, #69beec, #6bc4ef, #6ec9f1, #71cef3);
$buttorColor:#ffff;

/* Links */
$fontMain: 'Calibri';
$linkColor: #333132;;
$linkColor2:#ffff;
$linkActiveColor:black;

/* Text variables */
$textColor: #333132;;
$textColor2: black;
$textColor3: grey;


/* Colors */

$accentColor: #5A99E0;

